{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <p class="font-weight-light">Text: </p>
    <p style="margin-left:10px"> "{{ text['text2check'] }}" </p>
    <p class="font-weight-light">Unfair expression:</p>
    <p style="margin-left:10px"><b>{{ text['span'] }}</b></p>
    <hr>

    <div style="margin-top:10px; margin-bottom:10px">
        <p class="font-weight-light" >Your alternative:  </p>
<!--        <div class="border border-secondary" style="width:auto; height:auto; margin:auto; display:flex;">-->
<!--            <div class="p-3" >-->
                <p class="text-justify; font-weight" style="margin-left:10px"> {{x}} </p>
<!--            </div>-->
        <hr>
        <p class="font-weight-light" >Proposed alternatives:  </p>
        <ul>
            <li>
                <p class="font-weight-light">Option 1:</p>
                <p style="margin-left:10px"> "{{ text['text1'] }}" </p>
            </li>
            <li>
                <p class="font-weight-light">Option 2:</p>
                <p style="margin-left:10px"> "{{ text['text2'] }}" </p>
            </li>
        </ul>

    </div>

{% endblock %}
